.hero {
  background: url("../../img/backgr-leaf.png") right bottom no-repeat;
  background-color: #61c4d9;
  color: #fff;
  position: relative;

  &:before {
    content: url("../../img/leaf-1.png");
    position: absolute;
    bottom: -40px;
    left: 2%;
  }
  &::after {
    content: url("../../img/berryes-hero.png");
    position: absolute;
    bottom: -40px;
    right: 2%;
  }

  &::after,
  &::before {
    @include tablets {
      display: none;
    }
  }
  @include tablets {
    background-position: right bottom 88%;
  }
}

.header {
  display: flex;
  align-items: flex-start; 
  justify-content: space-between;
}

.phone-number.header__phone-number {
  @include tablets {
    display: none;
  }
}

.menu {
  margin: 0 30px;
  padding-top: 5px;

  @include tablets {
    display: none;
  }
}
.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.menu__link {
  text-decoration: none;
  white-space: nowrap; 
}

.menu__item {
  margin-bottom: 10px;
  margin-right: rem(15px);
  &:last-child {
    margin-right: 0;
  }
}

.phone-number {
  font-size: rem(24px);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.phone-number__icon-elem {
  width: rem(15px);
  height: rem(15px);
  margin-right: rem(6px);
}

.phone-number__icon {
 
  margin-right: rem(10px);
  flex-shrink: 0;
}

.phone-number__text {
  white-space: nowrap;
 
}

/*styles for header end*/


.hero__container {
  background: url("../../img/Батончики.png") left 78% center no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: rem(24px) 0 rem(45px) 0;
  @include tablets {
    background: none;
  }
}
.hero__title-section {
  width: 46%;
  @include tablets {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &::before {
      content: url("../../img/tablet-hero.png");
    }
  }
}

.hero__icons-section {
  @include tablets {
    display: none;
  }
}
.hero__main-title {
  font-size: rem(48px);
  font-weight: bold;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: rem(15px);
}

.hero__title-desc {
  font-size: rem(21px);
  padding-right: 10%;
  margin-bottom: rem(35px);
  @include tablets {
    padding: 0 25%;
  }
  @include phones {
    padding: 0 16%;
  }
}

.feature {
  display: flex;
}
.features {
  display: flex;
}

.features__item {
  margin-right: rem(46px);

  &:last-child {
    margin-right: 0;
  }
}

.feature__icon {
  width: rem(45px);
  margin-right: rem(7px);
}

.feature__text {
  font-size: rem(16px);
  max-width: rem(85px);
}
